<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @holiday.day %>
</p>

<p>
  <b>Month:</b>
  <%= @holiday.month %>
</p>


<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
